body {
  margin: 0;
  padding: 0;
  width: 100%;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
select {
  background-image: url(./images/down.svg) no-repeat;
  width: 200px;
  padding: 15px;
  border-radius: 8px 0 0 8px;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}
.padding-40 {
  padding: 0 40px;
}
.opacity-half {
  opacity: 0.5;
}
.justify-between {
  justify-content: space-between;
}
.main--padding {
  padding: 40px 50px;
}
.margin-bottom-none {
  margin-bottom: 0;
}
.main--blue {
  color: #3456af;
}
.main--red {
  color: #fc3b3e;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.flex-row {
  flex-direction: row;
}
.items-center {
  align-items: center;
}
.flex-col {
  flex-direction: column;
}
.font-700 {
  font-weight: 700;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.light-black {
  color: #191919;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}
/* Navbr start */
/* Navbr start */
/* Navbr start */
.nav__section__top {
  padding: 20px;
  border-bottom: 1px solid #f2f2f2;
}
.nav__list {
  margin: 0 10px;
}
.nav__input {
  width: 200px;
  padding: 15px;
  border-radius: 0px 8px 8px 0px;
  background-color: white;
  border: 1px solid #f2f2f2;
  width: 400px;
}
.search {
  top: 15px;
  right: 20px;
}
.nav__section__middle {
  margin: 20px;
}
.cart {
  background-color: #f2f2f2;
  padding: 15px 20px;
  border-radius: 8px;
}
.profile {
  background-color: #f2f2f2;
  padding: 15px 15px;
  border-radius: 8px;
  margin-left: 15px;
  margin-right: 40px;
}
.nav__profile__margin {
  margin: 0 6px;
}
.bookmark {
  margin-left: 20px;
}
.arrow {
  margin-left: 10px;
}
.navbar__section__bottom {
  padding: 0px 10px;
  margin-top: 30px;
  border-bottom: 1px solid #f2f2f2;
}
.nav--active {
  background-color: #3456af;
  padding: 20px 40px;
  color: white;
}
.phone__nav--size {
  font-size: 12px;
}
.services {
  padding: 0 30px;
  margin: 40px 0;
}
/* Navbr end */
/* Navbr end */
/* Navbr end */
.fragile1 {
  border: 2px solid #3456af;
  border-radius: 12px;
  padding: 10px;
  background-color: #fafafa;
  margin: 10px;
}
.images__fragile {
  margin-top: 35px;
}
.fragile2 {
  padding: 10px;
  background-color: #fafafa;
  margin: 10px;
}
.down--arrow {
  color: white;
  background-color: #3456af;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  padding: 10px;
}
.down--arrow--2 {
  background-color: #f2f2f2;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  padding: 10px;
  margin-top: 20px;
}
/* Home start */
/* Home start */
/* Home start */
.home__text__title {
  font-weight: 900;
  font-size: 40px;
}
.home__text {
  top: 0;
  padding: 0 100px;
  width: 50%;
  top: 30px;
  color: white;
  font-weight: 600;
}
/* Home end */
/* Home end */
/* Home end */

/* Car Model start */
/* Car Model start */
/* Car Model start */
.margin__list {
  margin: 20px 0;
}
.car--margin--left {
  margin-left: 100px;
}
/* Car Model end */
/* Car Model end */
/* Car Model end */

/* News start */
/* News start */
/* News start */
.news__title {
  font-size: 40px;
}
.news__container {
  margin: 0 20px;
}
.news__text {
  padding-right: 30px;
  padding-left: 10px;
  margin: 0;
}
.margin--none {
  margin: 0;
}
.margin-top-24 {
  margin-top: 24px;
}
.news__container__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f2f2f2;
  margin: 20px;
  border-radius: 16px;
  padding: 5px 15px;
}
/* News end */
/* News end */
/* News end */

/* Commerce start */
/* Commerce start */
/* Commerce start */
.list__style--disc {
  list-style-type: disc;
  line-height: 25px;
  font-weight: 600;
}
.list__style--decimal {
  list-style-type: decimal;
  line-height: 25px;
}
.commerce {
  padding: 40px 50px;
}
/* Commerce end */
/* Commerce end */
/* Commerce end */
/* Footer start */
/* Footer start */
/* Footer start */
footer {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding: 40px 50px;
}
.footer__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.footer__list__row {
  display: flex;
  flex-direction: row;
}
.footer__btn {
  background-color: #3456af;
  border-radius: 8px;
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 700;
  margin-left: 5px;
}
.footer__text {
  text-overflow: clip;
}
.footer__input {
  border-radius: 8px;
  padding: 10px 10px;
  color: white;
  border: none;
  width: 250px;
}
.footer__input::placeholder {
  color: #8d989d;
  font-weight: 700;
}
.footer__list__container {
  margin-right: 50px;
}
.footer__info {
  font-weight: 100;
  font-size: 12px;
  margin: 5px 0;
  padding: 0;
  color: #8d989d;
}
.footer__container__row {
  display: flex;
  flex-direction: row;
}
.footer__list {
  margin: 15px 0;
}
.footer__contact {
  width: 70%;
}
.footer__row--width {
  width: 100%;
}
.media__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer__media {
  margin-right: 20px;
}
.phone--size {
  font-size: 24px;
}
.phone--bold {
  font-weight: 900;
}
.footer__phone {
  margin-right: 10px;
}
.workdays--thin {
  font-weight: 100;
}
.workdays--gray {
  color: #191919;
}
/* Footer end */
/* Footer end */
/* Footer end */

.arrow-left {
  top: 80px;
  left: 10px;
  z-index: 2;
}
.arrow-right {
  top: 80px;
  right: 10px;
}
